@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 46.25em) and (max-width: 63.9375em) {
      @content;
    } //600px
  }
  @if $breakpoint == mobile {
    @media (max-width: 46.1875em) {
      @content;
    } //900px
  }
}

.newsLetter {
  height: 60vh;
  background-color: #fcf5f5;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 70px;
    margin: 0;
  }
  .desc {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    @include respond(mobile) {
      text-align: center;
    }
  }
  .inputContainer {
    width: 50%;
    height: 40px;
    display: flex;
    @include respond(mobile) {
      width: 80%;
    }
    input {
      flex: 8;
      border: 1px solid rgb(128, 128, 128, 0.1);
      outline: none;
      padding-left: 15px;
    }
    button {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border: none;
      background-color: teal;
      transition: all 0.7 s ease;
    }
    button:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
