@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 46.25em) and (max-width: 63.9375em) {
      @content;
    } //600px
  }
  @if $breakpoint == mobile {
    @media (max-width: 46.1875em) {
      @content;
    } //900px
  }
}
.container {
  margin: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include respond(mobile) {
    flex-direction: column;
  }

  .left {
    flex: 1;
    margin-right: 50px;
    @include respond(mobile) {
      margin-right: 0px;
    }
    .title {
      margin: 0;
      margin-bottom: 25px;
    }
    .desc {
      font-weight: 500;
    }

    .social {
      display: flex;
      margin-top: 20px;
      .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        transition: all 0.8s ease;
        cursor: pointer;
      }
      .circle:hover {
        opacity: 0.7;
      }
    }
  }

  .center {
    flex: 1;
    @include respond(mobile) {
      display: none;
    }
    .title {
      margin: 0;
      margin-bottom: 25px;
    }
    .list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      .listItem {
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }

  .right {
    flex: 1;
    @include respond(mobile) {
      margin-top: 10px;
      background-color: #fff8f8;
      padding: 20px 20px;
      margin-left: -20px;
      margin-right: -20px;
    }
    .title {
      margin: 0;
      margin-bottom: 25px;
    }
    .contactItem {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
    .payment {
      margin-top: 5px;
    }
  }
}
