.announcement {
  .container {
    height: 30px;
    background-color: rgb(34, 146, 146);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
  }
}
